<div class="flex flex-col justify-center px-10">
    <h1 class="font-bold text-2xl text-center">New Article</h1>
<%= render 'form' %>
<%= link_to 'Back', articles_path, class: '-mt-12 p-2 text-blue-500 hover:underline transition-all' %>
</div>
