<div class="px-10  py-10 grid rows-2 grid-cols-3 gap-10">
    <div class="bg-white w-fit rounded-xl flex flex-col gap-2  shadow-black/10 shadow-[0_0_10px_4px] pb-5 cursor-pointer ">
    <img class="rounded-t-xl  aspect-[4/3]" src="/erus.jpg" alt="news_img">
    <p class="text-xl px-5 font-bold truncate ">Text about something....</p>
    <p class="text-gray-400 px-5">20 august</p>
    </div>
    <div class=" bg-white w-fit rounded-xl flex flex-col gap-2  shadow-black/10 shadow-[0_0_10px_4px] pb-5 cursor-pointer">
    <img class="rounded-t-xl aspect-[4/3]" src="/erus.jpg" alt="news_img">
    <p class="text-xl px-5 font-bold truncate ">Text about something....</p>
    <p class="text-gray-400 px-5">20 august</p>
    </div>
    <div class=" bg-white w-fit rounded-xl flex flex-col gap-2  shadow-black/10 shadow-[0_0_10px_4px] pb-5 cursor-pointer">
    <img class="rounded-t-xl aspect-[4/3]" src="/erus.jpg" alt="news_img">
    <p class="text-xl px-5 font-bold truncate ">Text about something....</p>
    <p class="text-gray-400 px-5">20 august</p>
    </div>
    <div class=" bg-white w-fit rounded-xl flex flex-col gap-2  shadow-black/10 shadow-[0_0_10px_4px] pb-5 cursor-pointer">
    <img class="rounded-t-xl aspect-[4/3]" src="/erus.jpg" alt="news_img">
    <p class="text-xl px-5 font-bold truncate ">Text about something....</p>
    <p class="text-gray-400 px-5">20 august</p>
    </div>
    <div class=" bg-white w-fit rounded-xl flex flex-col gap-2  shadow-black/10 shadow-[0_0_10px_4px] pb-5 cursor-pointer">
    <img class="rounded-t-xl aspect-[4/3]" src="/erus.jpg" alt="news_img">
    <p class="text-xl px-5 font-bold truncate ">Text about something....</p>
    <p class="text-gray-400 px-5">20 august</p>
    </div>
    <div class=" bg-white w-fit rounded-xl flex flex-col gap-2  shadow-black/10 shadow-[0_0_10px_4px] pb-5 cursor-pointer">
    <img class="rounded-t-xl aspect-[4/3]" src="/erus.jpg" alt="news_img">
    <p class="text-xl px-5 font-bold truncate ">Text about something....</p>
    <p class="text-gray-400 px-5">20 august</p>
    </div>
</div>
